ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(214, 211, 206);
    border-top: outset;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 36px;
    display: flex;
  }
  
  li {
    float: left;
    border: outset;
    margin-top: 2px;
    display: block;
    color: black;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
  }

  .list_item {
    float: left;
    border: outset;
    margin-top: 2px;
    margin-bottom: 3px;
    display: block;
    color: black;
    text-align: left;
    padding: 2px;
    text-decoration: none;
    margin-left: 2px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    cursor: default;
    font-family: 'MS Sans Serif'; 
    font-weight: 'bold';
  }

  .list_item_active {
    float: left;
    border: inset;
    margin-top: 2px;
    margin-bottom: 3px;
    display: block;
    color: black;
    text-align: left;
    padding: 2px;
    text-decoration: none;
    margin-left: 2px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    cursor: default;
    background-color: rgb(233, 231, 226);
    font-weight: bold;
    font-family: 'MS Sans Serif'; 
    font-weight: 'bold';
  }


  /* @media (min-width: 1000px) {
    .list_item {
      width: 150px;
    }
  } */

  .start_left li:hover  {
    cursor: default;
  }

  .start_left li  {
    float: left;
    border: outset;
    margin-top: 2px;
    display: block;
    color: black;
    text-align: center;
    padding: 2px 4px;
    text-decoration: none;
    min-width: fit-content;
    white-space: nowrap;
  }

  .start_left_onClick li  {
    float: left;
    border: inset;
    margin-top: 2px;
    display: block;
    color: black;
    text-align: center;
    padding: 2px 4px;
    text-decoration: none;
  }

  .start_left_onClick li:hover  {
    cursor: default;
  }

  .start_left li:active  {
    border: inset;
  }

  .start_right li {
    position: absolute;
    right: 0;
    float: right;
    border: inset;
    display: block;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 2px;
    min-width: fit-content;
    white-space: nowrap;
  }

  .start_right li:hover  {
    cursor: default;
  }

  .start_right_sized li {
    /* position: absolute; */
    /* right: 0; */
    float: right;
    border: inset;
    display: block;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 2px;
    min-width: fit-content;
    white-space: nowrap;
  }

  .start_right_sized li:hover  {
    cursor: default;
  }

  .start_item {
    color: black;
  }

  .start_item:hover {
    cursor: default;
    background: darkblue;
    color: white;
  }

  .start_item:hover .caret:before {
    border-left: 5px solid white;
  }

  .caret {
    position: relative;
  }

  .caret:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 150px;
    border-left: 5px solid black;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }